@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        /* box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
        /* background-color: #ffffff !important; */
        /* animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
         transition: all 2.5s ease;
        animation: smoothScroll 1s forwards;  */
        padding-top: 0px;
        padding-bottom: 0px;
    }

}